body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100px; /* 控制图片的最大宽度，根据需要进行调整 */
}
